# Croniter package for djangoq
croniter==6.0.0

# Django and Django REST Framework
Django==4.2.22
django-cors-headers==4.6.0
djangorestframework==3.15.2
django-db-geventpool==4.0.1
django-request-logging==0.7.5
django-filter==24.3

# DjangoQ for running async tasks
django-q==1.3.4

# Read Database Credentials as URL
dj-database-url==2.3.0

# API server
gevent==24.11.1
gunicorn==23.0.0

# Platform SDK
fyle==1.0.2

# Reusable Fyle Packages
fyle-rest-auth==1.8.2
fyle-accounting-mappings==1.33.1
fyle-integrations-platform-connector==2.0.0

# Postgres Dependincies
psycopg2-binary==2.9.10

# Pylint
pylint==2.7.4

# Date Parser
python-dateutil==2.8.2

# Pylint Related Libraries
pytest==8.3.4
pytest-cov==6.0.0
pytest-django==4.9.0
pytest-mock==3.14.0

# Sendgrid for sending emails_selected
sendgrid==6.11.0
sentry-sdk==2.19.2
